!!!
%head
  %meta{ :charset => 'utf-8' }
  = style_sheet
  - if enable_search
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
%body
  .container
    .header
      .logo
        %h1
          %span.logo><
            \#in
          %span.logo.green><
            q
          %span.logo><
            lude
        %h2
          %span.subtitle
            The Qt library archive
      .menu
        .search
          - if enable_search
            %gcse:searchbox-only{ resultsUrl: "https://inqlude.org/search.html" }
              Loading...
      %br{ :clear => "all" }

    .content
      .sidebar
        .intro
          %p
            Inqlude provides a comprehensive listing of all existing libraries for developers of applications using the Qt toolkit. Inqlude is run by the community and open for contributions. 
          %ul
            %li
              = link_to "About Inqlude", "about"
            %li
              = link_to "How to get libraries", "get"
            %li
              = link_to "How to contribute", "contribute"
        
        .latest
          .box
            %h3
              Latest releases

          %table
            %tr
              %td
                - latest_libraries.each do |library|
                  = link_to_manifest library.name
                  %rd
                    = '(' + library.latest_manifest.release_date + ')'
                  %br           
          %br
          
        .filters
          .box
            %h3
              Filters
          
          .topics
            %h4
              Topics
            - topics.each do |topic|
              %input{:type=>"checkbox", :name=>"#{topic}"}
              = topic
              %mini 
                = '(' + (get_no_of_libraries(topic)).to_s + ')'
              %br     
            %br

          .platforms
            %h4
              Platforms
            - platforms.each do |platform|
              %input{:type=>"checkbox", :name=>"#{platform}"}
              = platform
              %br     
            %br
          
          .licenses
            %h4
              Licenses
            - licenses.each do |license|
              %input{:type=>"checkbox", :name=>"#{license}"}
              = license
              %br     
            %br
      
      .main_pane
        = yank            

        .legal
          Inqlude is a
          = link_to "KDE project", "http://kde.org"
          = "|"
          = link_to "Legal", "http://www.kde.org/community/whatiskde/impressum.php"

  - if enable_search
    :javascript
      (function() {
        var cx = '012526638842992167133:g7thmrlp2uw';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
